@import play.api.Environment

@(webJarAssets: WebJarAssets)(implicit request: RequestHeader, environment: Environment)

@main("CSW Play Demo", webJarAssets) {
    @scalajs.html.scripts("demowebclient",
        name => routes.Assets.at(name).toString,
        name => getClass.getResource(s"/public/$name") != null))

    <script>
       var settings = {
         "wsBaseUrl": "@routes.Application.ws.webSocketURL()"
        };

        // Main entry to scala.js code
        demo.web.client.DemoWebClient().init(settings);
    </script>
}
